<div class="p-2">
  <h1 class="mb-2 px-1.5">
    Está a punto de Aprobar los siguientes partes de transferencia:
  </h1>
  <!-- Contenedor de los detalles -->
  <div class="bg-gray-100 px-2 rounded-t-xl border-gray-400">
    <!-- {detalle && detalle.map((index) => ( -->
    <div class="flex justify-between py-2" key="index.resultado_pt_id">
      <span class="w-1/4">codigo</span>
      <span class="w-1/4">
        <!-- {formatDate(new Date(index.fecha_generacion))} -->
      </span>
      <span class="w-1/4">S/. monto_total</span>
      <span class="w-1/4">centro_costo</span>
    </div>
    <!-- ))} -->
  </div>
  <!-- Total -->
  <div class="flex justify-between font-semibold bg-gray-200 p-2 border-t-1">
    <span class="w-1/2">Total:</span>
    <span class="w-1/2">S/total</span>
  </div>

  <!-- Mensaje de advertencia -->
  <div
    class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-800 p-2 my-2 rounded-md"
  >
    <p>
      Esta acción enviará los datos a <b>SAP</b> y cambiará el estado de los
      partes seleccionados a <b>"Aprobado"</b>.
    </p>
  </div>
  <div class="flex justify-center space-x-4 pt-3"></div>
  <app-button name="Confirmar y Enviar" color="blue"></app-button>
  <app-button name="Cancelar" color="gray"></app-button>
</div>
