<div
  class="fixed inset-0 flex items-center justify-center backdrop-blur-[14px]"
>
  <div
    class="w-full max-w-lg border-1 border-gray-300 rounded-xl shadow-lg pb-3 bg-white"
  >
    <div className="">
      <button
        className="absolute top-4 right-4 text-6xl text-white hover:text-black"
      ></button>
      <h2 className="text-xl font-semibold text-white">texto</h2>
    </div>

    <h1 className="mb-2 px-5 pt-3 TEXT-SM">texto</h1>
    <div className="mx-5 rounded-t-sm  border-2 border-gray-300">
      <div
        className="flex justify-between font-semibold bg-gray-50 px-5 py-3 border-t border-t-gray-300"
      >
        <span className="w-1/2 text-sm">Total:</span>
        <span className="w-1/2 text-sm">S/. total</span>
      </div>
    </div>
    <form className=" px-5 p-3">
      <label htmlFor="motivo_rechazo">Motivacion de rechazo(opcional)</label>
      <textarea
        id="motivo_rechazo"
        rows="{4}"
        name="motivo_rechazo"
        value="{motivos}"
      ></textarea>
      <div className="flex justify-center gap-x-3 mt-5">
        <button
          className="bg-red-500 text-white p-3 rounded-sm  cursor-pointer"
          type="submit"
        >
          Confirmar Rechazo
        </button>
        <button id="cancelar" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</div>
