<!-- <div className="p-4 grid grid-cols-2 gap-4 text-sm text-gray-700">
    <div>
      <h2 className="font-semibold text-gray-900 mb-2 ">Información General</h2>
      <div className="grid grid-cols-2 font-light">
        <div>
          <p className="p-[0.2px]">ID:</p>
          <p className="p-[1px]">Fecha de generación:</p>
          <p className="p-[1px]">
            Estado actual:
          </p>
          <p className="p-[1px]">Usuario creador: </p>
          <p className="p-[1px]">Monto total:</p>
          <p className="p-[1px]">Moneda: </p>
          <p className="p-[1px]">Referencia SAP: </p>

        </div>
        <div className="font-medium font-sans">
          <p className="p-[0.9px] "> {detalleTransfer?.codigo}</p>
          <p className="p-[1px]">{dateCreate}</p>
          <p className="p-[1px]">
            <span className={` text-xs font-semibold px-3 py-1 rounded-3xl border-1 " ${detalleTransfer?.estado && colors[detalleTransfer?.estado as keyof typeof colors]} `} >
              {detalleTransfer?.estado}
            </span>
          </p>
          <p className="p-[1px]">{detalleTransfer?.usuario_creador}</p>
          <p className="p-[1px]">S/ {detalleTransfer?.monto_total}</p>
          <p className="p-[1px]">{detalleTransfer?.moneda}</p>
          <p className="p-[1px]">{detalleTransfer?.referencia_sap ? detalleTransfer?.referencia_sap : '-'}</p>
        </div>
      </div>
    </div>
    <div>
      <h2 className="font-semibold text-gray-900 mb-2">Información de Transferencia</h2>
      <div className="grid grid-cols-2 font-light ">
        <div>

          <p className="p-[1px]">Almacén origen: </p>
          <p className="p-[1px]">Almacén destino: </p>
          <p className="p-[1px]">Centro de costo: </p>
          <p className="p-[1px]">Usuario aprobador: </p>
          <p className="p-[1px]">Fecha de aprobación: </p>
          <p className="p-[1px]">Motivo de rechazo: </p>
        </div>
        <div className="font-medium font-sans">

          <p className="p-[1px]">{detalleTransfer?.almacen_origen}</p>
          <p className="p-[1px]">{detalleTransfer?.almacen_destino}</p>
          <p className="p-[1px]">{detalleTransfer?.centro_costo ? detalleTransfer.centro_costo : '-'}</p>
          <p className="p-[1px]">{detalleTransfer?.usuario_aprobador ? detalleTransfer?.usuario_aprobador : '-'}</p>
          <p className="p-[1px]">{detalleTransfer?.fecha_aprobacion ? dateAproba : '-'}</p>
          <p className="p-[1px] break-words text-[11px]">{detalleTransfer?.motivo_rechazo ? detalleTransfer.motivo_rechazo : '-'}</p>
        </div>
      </div>
    </div>
  </div>

  <CardTexArea label="Observaciones" isDisable={true} tipo="obs" onChange={onChange} detalleTransfer={detalleTransfer?.observaciones ? detalleTransfer?.observaciones : ''} />
  <CardTexArea label="Log de Integración:" isDisable={true} tipo="logs" detalleTransfer={detalleTransfer?.log_detalle} /> -->