<!-- <div class="container mx-auto">
  <app-nav></app-nav>
  <app-transfer-search></app-transfer-search>
  <app-transfer-table></app-transfer-table>
</div> -->


<ul class="user-list">
  @for (item of transferService.transferencias; track $index) {
    <li class="user-item">
      <div>
        <h3 class="user-name">{{ item.resultado_pt_id }}</h3>
        <h3 class="user-name">{{ item.codigo }}</h3>
        <h3 class="user-name">{{ item.fecha_generacion }}</h3>
        <h3 class="user-name">{{ item.almacen_origen }}</h3>
        <h3 class="user-name">{{ item.almacen_destino }}</h3>
        <h3 class="user-name">{{ item.monto_total }}</h3>
        <h3 class="user-name">{{ item.moneda }}</h3>
        <h3 class="user-name">{{ item.estado }}</h3>
        <h3 class="user-name">{{ item.usuario_creador }}</h3>
        <h3 class="user-name">{{ item.usuario_aprobador }}</h3>
        <h3 class="user-name">{{ item.fecha_generacion }}</h3>
        <h3 class="user-name">{{ item.motivo_rechazo }}</h3>
        <h3 class="user-name">{{ item.referencia_sap }}</h3>
        <h3 class="user-name">{{ item.observaciones }}</h3>
        <h3 class="user-name">{{ item.log_accion }}</h3>
        <h3 class="user-name">{{ item.log_usuario }}</h3>
        <h3 class="user-name">{{ item.log_fecha }}</h3>
        <h3 class="user-name">{{ item.log_detalle }}</h3>
        <h3 class="user-name">{{ item.centro_costo }}</h3>
        <h3 class="user-name">{{ item.almacen_origen_id }}</h3>
        <h3 class="user-name">{{ item.almacen_destino_id }}</h3>
        <h3 class="user-name">{{ item.usuario_creador_id }}</h3>
        <h3 class="user-name">{{ item.usuario_aprobador_id }}</h3>
      </div>
    </li>
  }
</ul>
