<div
  class="fixed inset-0 flex items-center justify-center backdrop-blur-[13px]"
>
  <div
    class="w-full max-w-lg max-h-screen overflow-auto border border-gray-300 rounded-xl shadow-lg pb-5"
  >
    <div class="relative bg-blue-600 rounded px-4 py-1">
      <button
        class="absolute top-2 right-2 text-6xl text-white hover:text-black"
      >
        <!-- onClick={() => {
          {
            selectedTransfers &&
              dispatch(
                onDeleteDeArregloTranfer(
                  selectedTransfers as IListDetalleTransferencia[]
                )
              );
          }
          setState(false);
        }}
      >
        <X size={20} strokeWidth={4} /> -->
      </button>
      <h2 class="text-xl font-semibold text-white">
        Aprobar y Enviar Partes a SAP
      </h2>
    </div>

    <!-- Body aprobacion -->
    <div className="p-2">
      <h1 className="mb-2 px-1.5">
        Está a punto de Aprobar los siguientes partes de transferencia:
      </h1>
      <!-- Contenedor de los detalles -->
      <div className="bg-gray-100 px-2 rounded-t-xl border-gray-400">
        @for (item of transferService.transferencias; track item.codigo){
        <div
          className="flex justify-between py-2"
        >
          <span className="w-1/4">{{ item.codigo }}</span>
          <span className="w-1/4">
            {{ item.fecha_generacion | formatDate }}
          </span>
          <span className="w-1/4">S/. {{ item.monto_total }}</span>
          <span className="w-1/4">{{ item.centro_costo }}</span>
        </div>
        ))}
      </div>
      <!-- Total -->
      <div
        className="flex justify-between font-semibold bg-gray-200 p-2 border-t-1"
      >
        <span className="w-1/2">Total:</span>
        <span className="w-1/2">total</span>
      </div>

      <!-- Mensaje de advertencia -->
      <div
        className="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-800 p-2 my-2 rounded-md"
      >
        <p>
          Esta acción enviará los datos a <b>SAP</b> y cambiará el estado de los
          partes seleccionados a <b>"Aprobado"</b>.
        </p>
      </div>
      <div className="flex justify-center space-x-4 pt-3">
        <app-button name="Confirmar y Enviar" color="blue" onRetun="onRetun" />
        <app-button name="Cancelar" color="gray" />
      </div>
    </div>
  </div>
</div>
