<div class="container mx-auto">
  <app-nav></app-nav>
  <div class="flex justify-between mb-3">
    <div>
      <h1 class="text-2xl text-gray-90 font-semibold">
        Registro parte Transferencia
      </h1>
    </div>
    <div>
      <button
        class="bg-gray-100 text-xs text-black p-1 rounded-sm border border-gray-400 cursor-pointer"
        routerLink="/"
      >
        ← Volver al listado
      </button>
    </div>
  </div>
  <div>
    <div class="bg-[#0B5DB4] p-3">
      <h2 class="text-white">Registro de Parte de Transferencia</h2>
    </div>
    <div class="w-full p-3 border border-gray-300">
      <form class="w-full" #form="ngForm" (ngSubmit)="postTransfer(form)">
        <div class="w-[90%] flex gap-x-10">
          <div class="w-1/2">
            <div class="border-b-1 border-b-gray-200 mb-5">
              <h3>Informacion General</h3>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >id</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="id"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Fecha de generación:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="fecha"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Estado Actual:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="estado"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Pendiente"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Usuario Creador:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="usuario_creador_id"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-yellow-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Juan Pérez"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="monto_total"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Monto Total:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="monto_total"
                  name="monto_total"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder=""
                  [(ngModel)]="nuevaTransferencia.monto_total"
                  #monto="ngModel"
                  required
                  min="1"
                />
                @if (monto.invalid && monto.touched) {
                  <p class="text-red-500">Monto total es requerido</p>
                } @else if (monto.hasError("min") && monto.touched) {
                  <p class="text-red-500">Monto total no puede ser cero</p>
                }
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="moneda"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Moneda:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="moneda"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="PEN"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="sap"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Referencia SAP:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="sap"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="-"
                />
              </div>
            </div>
          </div>
          <div class="w-1/2">
            <div class="border-b-1 border-b-gray-200 mb-5">
              <h3>Informacion de Transferencia</h3>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Almacen origen:</label
              >
              <div class="w-full">
                <select
                  name="almacen_origen"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  [(ngModel)]="nuevaTransferencia.almacen_origen_id"
                >
                  @for (item of transferService.almacenes; track $index) {
                  <!-- <option [value]="">Selecciona un almacen:</option> -->
                  <option [value]="item.id">
                    {{ item.nombre }}
                  </option>
                  }
                </select>
              </div>
            </div>

            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Almacen Destino:</label
              >
              <div class="w-full">
                <select
                  name="almacen_destino_id"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  [(ngModel)]="nuevaTransferencia.almacen_destino_id"
                >
                  @for (item of transferService.almacenes; track $index) {
                  <!-- <option [value]="">Selecciona un almacen:</option> -->
                  <option [value]="item.id">
                    {{ item.nombre }}
                  </option>
                  }
                </select>
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="centro_costo"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Centro de Costo:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="centro_costo"
                  name="centro_costo"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder=""
                  [(ngModel)]="nuevaTransferencia.centro_costo"
                  #costo="ngModel"
                  required
                />
                @if (costo.invalid && costo.touched) {
                  <p class="text-red-500">Centro costo es requerido</p>
                }
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="aprobador"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Usuario aprobador:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="aprobador"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="-"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="aprobacion"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Fecha de Aprobacion:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="aprobacion"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="-"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="rechazo"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Motivo de rechazo:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="rechazo"
                  disabled="true"
                  class="shadow-xs bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="-"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="px-2 mt-3">
          <label
            for="observaciones"
            class="block mb-2 text-sm font-medium text-gray-900 px-2"
            >Observaciones</label
          >
          <textarea disabled="true"> </textarea>
        </div>
        <div class="px-2 mt-3">
          <label
            for="log"
            class="block mb-2 text-sm font-medium text-gray-900 px-2"
            >Log de Integración</label
          >
          <textarea disabled="true"> </textarea>
        </div>
        <div class="flex justify-center gap-x-3 mt-5">
          <div>
            <button
              type="submit"
              id="guardar"
              value="Guardar"
              [disabled]="!form.valid"
              [ngClass]="form.valid ? 'bg-[#0B5DB4]' : 'bg-gray-400'"
              class="text-white p-3 rounded-sm cursor-pointer"
            >
              Guardar
            </button>
          </div>
          <div>
            <button
              id="cancelar"
              class="bg-red-500 text-white p-3 rounded-sm cursor-pointer"
              routerLink="/"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
