<!-- <div class="flex justify-between mb-3">
  <div>
    <h1 class="text-2xl text-gray-90 font-semibold">
      Registro parte Transferencia
    </h1>
  </div>
  <div>
    <button
      onclick=""
      class="bg-gray-100 text-xs text-black p-1 rounded-sm border border-gray-400 cursor-pointer"
      routerLink="/"
    >
      ←⇐ Volver al listado
    </button>
  </div>
</div>
<div>
  <div class="bg-[#0B5DB4] p-3">
    <h2 class="text-white">Registro de Parte de Transferencia</h2>
  </div>
  <div class="w-full p-3 border border-gray-300">
    <form onsubmit="" class="w-full">
      <div class="w-[90%] flex gap-x-10">
        <div class="w-1/2">
          <div class="border-b-1 border-b-gray-200 mb-5">
            <h3>Informacion General</h3>
          </div>
        </div>
      </div>
      <div class="flex justify-center gap-x-3 mt-5">
        <div>
          <input
            type="submit"
            id="guardar"
            value=""
            class="bg-[#0B5DB4] text-white p-3 rounded-sm cursor-pointer"
          />
        </div>
        <div>
          <button
            id="cancelar"
            class="bg-red-500 text-white p-3 rounded-sm cursor-pointer"
            onclick=""
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div> -->

<!-- <app-main-layout> -->
<div class="container mx-auto">
  <app-nav></app-nav>
  <div class="flex justify-between mb-3">
    <div>
      <h1 class="text-2xl text-gray-90 font-semibold">
        Registro parte Transferencia
      </h1>
    </div>
    <div>
      <button
        class="bg-gray-100 text-xs text-black p-1 rounded-sm border border-gray-400 cursor-pointer"
        routerLink="/"
      >
        ← Volver al listado
      </button>
    </div>
  </div>
  <div>
    <div class="bg-[#0B5DB4] p-3">
      <h2 class="text-white">Registro de Parte de Transferencia</h2>
    </div>
    <div class="w-full p-3 border border-gray-300">
      <form class="w-full">
        <div class="w-[90%] flex gap-x-10">
          <div class="w-1/2">
            <div class="border-b-1 border-b-gray-200 mb-5">
              <h3>Informacion General</h3>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >id</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="id"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Fecha de generación:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="fecha"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Estado Actual:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="estado"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Pendiente"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Usuario Creador:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="usuario_creador_id"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="monto_total"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Monto Total:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="monto_total"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="moneda"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Moneda:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="moneda"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="PEN"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="sap"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Referencia SAP:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="sap"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
          </div>
          <div class="w-1/2">
            <div class="border-b-1 border-b-gray-200 mb-5">
              <h3>Informacion de Transferencia</h3>
            </div>
            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Almacen origen:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="id"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
              
            </div>

            <div class="mb-5 flex">
              <label
                for="id"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >id</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="id"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="centro_costo"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Centro de Costo:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="centro_costo"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="aprobador"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Usuario aprobador:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="aprobador"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="aprobacion"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Fecha de Aprobacion:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="aprobacion"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Autogenerado"
                />
              </div>
            </div>
            <div class="mb-5 flex">
              <label
                for="rechazo"
                class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
                >Motivo de rechazo:</label
              >
              <div class="w-full">
                <input
                  type="text"
                  id="rechazo"
                  disabled="true"
                  class="shadow-xs border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="-"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label for="" class="block mb-2 text-sm font-medium text-gray-900"></label>
          <textarea name="" id="">

          </textarea>
        </div>
        <div>
          <label for="" class="block mb-2 text-sm font-medium text-gray-900 "></label>
          <textarea name="" id="">

          </textarea>
        </div>
        <div class="flex justify-center gap-x-3 mt-5">
          <div>
            <input
              type="submit"
              id="guardar"
              value="Guardar"
              class="bg-[#0B5DB4] text-white p-3 rounded-sm cursor-pointer"
            />
          </div>
          <div>
            <button
              id="cancelar"
              class="bg-red-500 text-white p-3 rounded-sm cursor-pointer"
              onClick={handleHome}
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- </app-main-layout> -->


<!-- <ul class="user-list">
  @for (item of transferService.transferencias; track $index) {
    <li class="user-item">
      <div>
        <h3 class="user-name">{{ item.resultado_pt_id }}</h3>
        <h3 class="user-name">{{ item.codigo }}</h3>
        <h3 class="user-name">{{ item.fecha_generacion }}</h3>
        <h3 class="user-name">{{ item.almacen_origen }}</h3>
        <h3 class="user-name">{{ item.almacen_destino }}</h3>
        <h3 class="user-name">{{ item.monto_total }}</h3>
        <h3 class="user-name">{{ item.moneda }}</h3>
        <h3 class="user-name">{{ item.estado }}</h3>
        <h3 class="user-name">{{ item.usuario_creador }}</h3>
        <h3 class="user-name">{{ item.usuario_aprobador }}</h3>
        <h3 class="user-name">{{ item.fecha_generacion }}</h3>
        <h3 class="user-name">{{ item.motivo_rechazo }}</h3>
        <h3 class="user-name">{{ item.referencia_sap }}</h3>
        <h3 class="user-name">{{ item.observaciones }}</h3>
        <h3 class="user-name">{{ item.log_accion }}</h3>
        <h3 class="user-name">{{ item.log_usuario }}</h3>
        <h3 class="user-name">{{ item.log_fecha }}</h3>
        <h3 class="user-name">{{ item.log_detalle }}</h3>
        <h3 class="user-name">{{ item.centro_costo }}</h3>
        <h3 class="user-name">{{ item.almacen_origen_id }}</h3>
        <h3 class="user-name">{{ item.almacen_destino_id }}</h3>
        <h3 class="user-name">{{ item.usuario_creador_id }}</h3>
        <h3 class="user-name">{{ item.usuario_aprobador_id }}</h3>
      </div>
    </li>
  }
</ul> -->