<div class="mb-5 flex">
  <label
    for="id"
    class="block mb-2 text-sm font-medium text-gray-900 w-1/2"
  >{{texto}}</label>
  <div class="w-full">
    <input
      type="text"
      [attr.id]="id"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [ngClass]="{
        'shadow-xs': true,
        'bg-gray-100': disabled,
        'border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5': true,
        'text-yellow-700': color
      }"
    />
  </div>
</div>
